@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --color-one:#103178;
    --color-two:#fec700;
    --color-text:#586c8e;
    --color-background:#f0f2f5;

    --font: 'Inria Serif', serif;
}

body {
    font-family: var(--font);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}